{% extends 'index.html' %}
{% block title%} Positions {%endblock title %}
{%block cuerpo%}
<h2>Positions</h2>
        <br>
        <a href="{% url 'crear_position' %}"><button class="btn btn-outline-success btn-sm">Crear Position</button></a>
        <br><br>
        <table class="table ">     
            <thead>
                <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>status</th>
                <th>Opcion</th>
                </tr>
            </thead>
            <tbody>
                {% for position in object_list %}
                <tr>
                <td>{{position.name}}</td>
                <td>{{position.description}}</td>
                <td>{{position.status}}</td>
                <td>
                <a href="{% url 'editar_position' position.id %}" class="btn btn-success">Editar</a> <a href="{% url 'eliminar_position' position.id %}" class="btn btn-danger">Eliminar</a>
                </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

{%endblock cuerpo%}