<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
    {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> {%block title%} CRUD de menus {%endblock title%} </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'ajax.js'%}"></script>
    </head>
    <body>

        
        <div class="container-fluid ">
            <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="{%url 'index'%}">Menus</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{%url 'index_position'%}">Posiciones</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{%url 'resultado_menu'%}">Ver resultado</a>
                    </li>
                  </ul>
                  
                </div>
              </nav>
        
        {%block cuerpo %}
        <h2>Menus</h2>
        <br>
        <div class="row">
          <div class="col-2">
            <a href="{% url 'crear_menu' %}"><button class="btn btn-outline-success btn-sm">Crear Menu</button></a>
          </div>
          <div class="col-5">
          <div class="input-group">
            <form method="GET" action="{% url 'search' %}" id="search-menu">
            <div class="form-outline">
              <input type="text" name="title" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary" value="buscar">
              Buscar
            </button>
            </form>
          </div>
          </div>
        </div>
        <br><br>
        <table class="table ">     
            <thead>
                <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>link</th>
                <th>status</th>
                <th>Position</th>
                <th>Opcion</th>
                </tr>
            </thead>
            <tbody>
                {% for menu in object_list %}
                <tr>
                <td>{{menu.title}}</td>
                <td>{{menu.description}}</td>
                <td>{{menu.link}}</td>
                <td>{{menu.status}}</td>
                <td>{{menu.position}}</td>
                <td>
                <a href=" {% url 'editar_menu' menu.id %}" class="btn btn-success">Editar</a> <a href="{% url 'eliminar_menu' menu.id %}" class="btn btn-danger">Eliminar</a>
                </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
        {%endblock cuerpo %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        
        <script src="" async defer></script>
    </body>
</html>